<!DOCTYPE html>
<html ng-app="c4App">
    <head>
        <title>Connect4 - Eugene Kolesnik</title>
        
        <link href='./css/bootstrap.css' rel='stylesheet' type='text/css'>
        <link href='./css/main.css' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script src="scripts/c4App.js"></script>
    </head>
    <body ng-controller="GameController">

        <h2>{{vm.msg}}</h2>
        <div class="controls">
            Select Game Mode
            <button ng-click="vm.startInGameMode(0)" ng-class="{'on':vm.gameMode === 0}">Two Player</button>
            <button ng-click="vm.startInGameMode(1)" ng-class="{'on':vm.gameMode === 1}">VS AI - Standard</button>
            <button ng-click="vm.startInGameMode(2)" ng-class="{'on':vm.gameMode === 2}">VS AI - Hard</button>
            <button ng-if="vm.gameOver" ng-click="vm.newGame()">New Game</button>
        </div>
        <div class="c4game">
            <div ng-repeat="row in vm.board track by $index">
                <button ng-repeat="cell in row track by $index" ng-click="vm.makeMove($index)" ng-class="'player-'+[cell]"></button>
            </div>
        </div>
        <h4><span ng-class="'player-'+[vm.currentPlayer]">Player {{vm.currentPlayer}}'s turn</span></h4>
    </body>
</html>